.hear_wrapper{
    position: relative;
}
.header__container{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.5rem;
}

.SearchBar_searchBtn__3qNgr {
    background: transparent;
    border: none;
    position: absolute;
    right: 1rem;
    margin: 0;
}

.SearchBar_iconLocation__1Egat {
    position: absolute;
    left: 1rem;
}
.SearchBar_icons__37sj1 {
    height: 1.25rem;
    width: 1.25rem;
}

input[type="text"]{
    box-shadow: var(--shadow);
    border-radius: 8px;
    border: none;
    display: block;
    height: 2.5rem;
    padding: 1.75rem 1.75rem 1.75rem 3rem;
    font-weight: 500;
    text-transform: capitalize;
    transition: box-shadow .2s ease;
    width: 100%;
}

input[type="text"]:focus{
    outline: none;
    box-shadow: 0 0 1px 2px var(--blue);
}

.search_result_container{
    background: #fff;
    box-shadow: var(--shadow);
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    z-index: 10;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;
}

.show{
    opacity: 1;
    visibility: visible;
}