@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --blue: #00a6fa;
  --shadow: 0 8px 10px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.1),0 -8px 12px 0px rgba(0,0,0,0.05),0 -2px 3px -2px rgba(0,0,0,0.01);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 850px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recharts-area-dot{
  animation: fade-in .25s ease;
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}